{{ form_start(form) }}
    <div class="row">
     <div class="col-md-6">
            <div class="form-group">
                {{form_label(form.intitule)}}
                {{ form_widget(form.intitule,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {{form_label(form.url_condidateur)}}
                {{ form_widget(form.url_condidateur,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{form_label(form.category)}}
                {{ form_widget(form.category,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{form_label(form.competances)}}
                {{ form_widget(form.competances) }}
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
    <div class="form-actions">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        <a class="btn btn-warning" href="{{ path('app_offre_index') }}">Retour</a>
    <div>
{{ form_end(form) }}
